footer {
    background: #393939;
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.footer_left {
    margin: 40px 0 40px 20px;
    flex: 3;
}

.footer_left img{
    width: 15px;
    margin-right: 12px;
}

.footer_t_1 {
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
   
}

.footer_t_2, .footer_t_3 {
    color: rgb(245, 245, 245);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.footer_t_2 {
    padding: 17px 0;
}


.footer_right {
    margin:20px;
    flex: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social {
    margin-left:20px;
}

.social img {
    width: 32px;
    height: 32px;
}