header {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1009;
}

.header_full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border_bottom_solid {
    border-bottom: 1px solid rgb(193, 193, 193);
    background: rgb(245, 245, 245);
}

.border_bottom_shadow {
    box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.11);
    -webkit-box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.11);
}

.nav_top,
.nav_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_top_left,
.nav_top_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 10px;
    height: 30px;
}

.nav_top_right_mobile {
    height: 30px;
    width: 55px;
    display: none;
    background: #00a2b8;
    margin-right: 20px;
}

.nav_top_right_mobile:hover {
    background: #d4d4d4;
}

.nav_top_right_mobile img {
    height: 28px;
    padding-top: 3px;
    padding-left: 15px;
}

.mobile {
    display: none;
}

.nav_top_right {
    background: #00a2b8;
}

.navlist {
    color: #919191;
    font-size: 0.73em;
    letter-spacing: 0.15em;
    height: 20px;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
}

.l1 {
    padding: 0 20px;
    color: #ffffff;
}

.navlist:not(:last-child) {
    margin-right: 20px;
}

.nav_top_left .navlist:hover {
    background: url('../img/bottom_color.png') repeat-x bottom;
    color: #252525;
}

.mobile .navlist:hover {
    background: rgb(245, 245, 245);
    color: #00a2b8;
    font-style: bold;
}

.nav_top_right:hover,
.l1:hover {
    color: #ffffff;
    background: #919191;
}

.nav_bottom {
    background: white;
    height: 100px;
}

.nav_bottom_logo {
    padding: 20px 0 20px 20px;
}

.logo_img {
    height: 51px;
    width: 400px;
    background: url('../img/logo_big.png') no-repeat left;
    background-size: contain;
}

.nav_bottom_menu {
    padding-right: 20px;
    margin-top: 40px;
}

.menu_list {
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #252525;
    margin-left: 20px;
    height: 60px;
}

.menu_list:hover  {
    border-bottom: 7px solid #00a2b8;
}

.mobile_menu {
    background: #e1e1e1;
    width: 100%;
    display: none;
    z-index: 2000;
    position: absolute;
    margin-left: -20px;
    padding: 20px 0px 10px 10px;
    top: 32px;
    box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.15);
    -webkit-box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 10px 6px -5px rgba(34, 60, 80, 0.15);
    border-top: #00a2b8 4px solid;
}

.menu-btn {
	width: 20px;
	height: 40px;
	position: absolute;
	z-index: 2;
	overflow: hidden;
    margin-top: -10px;
    display: inline;
}

.menu-btn span {
	width: 20px;
	height: 1.5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.7s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.menu {
	position: fixed;
	top: 32px;
	left: 0;
	width: 100%;
	height: 100%;
    background: #222222ec;
	transform: translateY(-110%);
	transition: transform 0.5s; 
}

@keyframes active {
    0% {
        background: none;
    }    
    50% {
        background: none;
    }
    100% {
        background: #222222ec;
    }
  }

.menu.active {
	transform: translateY(0);
    animation: active 0.6s;
}

.navlist_mobile {
    color: #919191;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background: #e1e1e1;
    width: 100%;
    padding: 10px 10px 15px 30px;
    color: #252525;
    font-weight: 700;
    border-left: #00a2b8  10px solid;
}

.navlist_mobile:hover {
    border-left: #00a2b8 10px solid;
    background: #d5d5d5eb;
    font-weight: 400;
    border-left: #f3f3f3 10px solid;
}

.navlist_mobile:hover::before {
    content: '// ';
    /* background-image: url('../img/arrow_1.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; */
}