main {
    background: #cbcbcb;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect_bg_1, .b1 {
    background: #ededed;
}

.sect_bg_2, .b2 {
    background: #ffffff;
}

.sect_bg_3, .b3 {
    background: #e4dfd9;
}

.sect_bg_4 {
    background: #724263;
    padding-top:20px;
}

.sect_bg_5, .b5 {
    background: #dedfe9;
}

.sect_title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: sticky;
    top: 130px;
}

.sect_title1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.title_main {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #393939;
}

.title_main::before {
    content: '// ';
    color: #00a2b8;
}

.title_add {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #393939;
}

.title_add:after {
    content: '';
    background-image: url('../img/arrow_1.png');
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.title_bottom {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: none;
    background: #00a2b8;
}

.sect_wrapper {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    overflow: auto;
}

.sect_wrapper::-webkit-scrollbar { 
    display: none;
}

.wrapper_shadow {
    -webkit-box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.25);
    margin-bottom: 30px;
}

.wrapper_title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:#00a2b8 7px solid;
}

.title_name1 {
    font-size: calc(22px + 1vw);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #393939;
    background-color: #dfdfdf;
    padding: 20px 10px 20px 10px;
    margin: 15px 0 15px 0;
}

.title_name2 {
    font-size: calc(14px + 0.4vw);
    text-transform: uppercase;
    font-family: sans-serif;
    color: #393939;
    padding: 15px;
}

.title_name3 {
    font-size: calc(10px + 0.3vw);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #00a2b8;
    padding: 2px 15px 2px 15px;
}

.title_text1 {
    font-size: calc(22px + 1vw);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 0 0 0 20px;
    width: 50%;
    position: sticky;
}

.title_text2 {
    font-size: calc(9px + 0.9vw);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding: 20px 0 20px 20px;
    width: 50%;
}

.title_text3 {
    font-size: calc(6px + 0.8vw);
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
    padding: 0 0 20px 20px;
    width: 50%;
}

.wrapper_content {
    flex: 3;
}

.wrapper_bg_1 {
    background: url('../img/wrapper_1.jpg') no-repeat center;
    background-size: cover;
    min-height: 300px;
}

.wrapper_bg_4 {
    background: #724263 url('../img/wrapper_2.jpg') bottom right no-repeat;
    background-size: contain;
    min-height: 300px;
 }

.wrapper_block {
    border: 1px #dfdfdf solid;
    flex: 1;
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

.wrapper_block:not(:last-child) {
    margin-right: 20px;
}

.block_top {
    height: 170px;
    overflow: hidden;
}
.block_top img {
    height: 100%;
    width: 100%;
}

.block_bottom {
    padding: 0 20px 20px 20px;
}

.block_bottom:hover {
     background: #ededed;
}

.bottom_text {
    text-align: center;
    padding: 20px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.bottom_click {
    border: #393939 1px solid;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.bottom_click:hover {
    background-color: #00a2b8;
    color: #ffffff;
}

.sect_wrapper2 {
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.shops_brands {
    height: 50px;
    display: flex;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    align-items: center;
    justify-content: center;
}

.shops_brands img{
    height: 40px;
    padding: 5px;
}

.sect_wrapper3 {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.sect_wrapper3::-webkit-scrollbar { 
    display: none;
}

.service {
    background: #e4dfd9;
    border-radius: 10px;
    flex: 1;
    min-width: 130px;
    display: flex;
    flex-direction: column;
} 

.service:not(:last-child) {
    margin-right: 20px;
}

.service_bottom {
    padding: 0 8px 10px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_img {
    padding: 10px;
    height: 70px;
    margin-bottom: 30px;
}

.service_img img{
    height: 70px;
}

.service_click {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-top: #00a2b8 2px solid;
}

.sect_wrapper5 {
    margin: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
}

.sect_time {
    border: #00a2b8 3px solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-radius: 10px;
}

.sect_address {
    border: #724263 3px solid;
    padding: 20px;
    border-radius: 10px;
}

.sect_t_a_title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #393939;
    padding-bottom: 30px;    
    grid-column: 1 / 3;
}

.sect_time_1, .sect_time_2, .sect_address_1 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #393939; 
    word-spacing: 9999px;
}

.sect_address_1 {
    word-spacing: 0;
    margin-bottom: 10px;
}

.sect_address_2 {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #393939;
}