@media (min-width: 1100px) {
    .nav_top,
    .nav_bottom,
    .sect_content,
    .footer_content {
        width: 1100px;
    }

    .slider {
        width: 1100px;
        height: 340px;
    }
} 

@media (max-width: 1100px) {
    .nav_top,
    .nav_bottom,
    .sect_content,
    .footer_content  {
        width: 100%;
    }

    .slider  {
        width: 100%;
        height: 340px;
    }
} 

@media (max-width: 991px) {
    .nav_top,
    .nav_bottom,
    .sect_content,
    .footer_content {
        width: 100%;
    }

    .sect_f-s .block_f-s {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media (max-width: 789px) {
    .nav_bottom .logo_img {
        height: 51px;
        width: 200px;
        background: url('../img/logo_mini.png') no-repeat left;
        background-size: contain ;
    }

    .nav_top .nav_top_right_mobile {
        display: block;
    }

    .nav_top .nav_top_right {
        display: none;
    }

    .header_full .nav_bottom {
        height: 75px;
    }

    .sect_content .sect_title {
        top: 105px;
    }
    
    .header_full  .menu_list {
        font-size: 0.85em;
        margin-left: 15px;
        height: 43px;
    }

    .header_full  .nav_bottom_menu {
        padding-right: 20px;
        margin-top: 30px;
    }

    .sect_content .sect_wrapper2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .title_name3 {
        display: none;
    }

    .sect_content .wrapper_bg_4 {
        min-height: 220px;
     }

    .sect_news_block .news_block  {
        grid-template-columns: auto auto 100px;
     }

    .sect_f-s .block_f-s {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 575px)  {
    .nav_top_left .navlist:not(:nth-child(-n+3)) {
        display: none;
    }

    .sect_title {
        flex-direction: column;
        justify-content: flex-start;
    }

    .sect_wrapper .wrapper_title {
        flex-direction: row;
        justify-content: space-between;
        border:0;
    }

    .sect_bg_1 .sect_content .sect_wrapper {
        flex-direction: column;
    }

    .sect_content .sect_wrapper2 {
        grid-template-columns: 1fr 1fr;
    }

    .sect_wrapper .title_bottom {
        display: block;
    }

    .sect_content .sect_wrapper5 {
        grid-template-columns: 1fr;
    }

    .sect_news_block .news_block  {
        grid-template-columns: 1fr;
    }

    .news_block .news_block_top {
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 20px 25px 10px 50px;
    }

    .news_block .news_block_bottom {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 0px 25px 10px 50px;
    }

    .news_block .news_block_img {
        grid-row: 3/4;
        grid-column: 1/2;
        width: 150px;
        padding-left: 50px;
    }

    footer .footer_content {
        flex-direction: column;
        align-items: center
    }

    .footer_content .footer_left {
        margin: 10px;
        margin-top: 30px;
    }

    .footer_content .footer_right {
        margin: 10px;
    }

    .slider  {
        width: 100%;
        height: 480px;
    }
}

@media (max-width: 519px)  {
    .nav_bottom .logo_img {
        height: 51px;
        width: 65px;
        background: url('../img/logo.png') no-repeat left;
        background-size: contain;
    }
     .nav_top .nav_top_left {
        display: none;
    }

    .nav_top .mobile {
        display: flex;
    } 

    .sect_content .wrapper_bg_4 {
        min-height: 150px;
     }

    .wrapper_content .title_text3 {
        display: none;
     }

    .sect_news .sect_news_block {
        flex-direction: column;
    }

    .sect_news_block .news_block {
        flex: 3;
        background: #e4dfd9 url('../img/bg_news_left.png') left top no-repeat;
    }

    .sect_news .news_block_text {
        padding: 20px 20px 20px 50px;
    }

    .sect_f-s .block_f-s {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 370px)  {
    .nav_bottom_menu .menu_list:not(:nth-child(-n+2)) {
         display: none;
    }

}

@media (max-width: 300px)  {
    .nav_bottom_menu {
        display: none;
    }
}