@import url('main.css');
@import url('footer.css');
@import url('header.css');
@import url('news.css');
@import url('food_sh_serv.css');
@import url('media.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
}

:link, :visited { 
    text-decoration: none;
    color: inherit;
 }

 .title_ico {
    height: 14px;
    width: 14px;
    text-align: center;
    vertical-align: middle;
}

.title_t {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #393939;
}

.title_t::before {
    content: '// ЦiКАВА.МОЛЛ ';
    color: #8c8c8c;
}
